body {
    background-color: #F9F6CB;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FFFFFF;
    width: 90%;
    position: center;
    margin: auto;
    height: 100%;
    padding: 25px;
}

.sidebar {
    text-align: center;
    vertical-align: middle;
    float: left;
    position: fixed;
    width: 250px;
    height: 600px;
    background-color: #FFF;
    margin: 50px;
}

.nav {
    text-align: center;
    margin-top: 75px;
}

.header-photo {

}

.main {
    position: relative;
    background-color: #A1FF95;
    padding: 25px;
    margin-left: 375px;
    margin-top: 50px;
    margin-right: 50px;
    box-sizing: border-box;
}

.footer {
    text-align: center;
    clear: both;
}

ul {
    list-style-type: none;
    width: 250px;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #4C4C4C;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #C2E5FD;
  color: #000;
}