html {
    height: 100%;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 1.25em;
}

h1 {
    font-family: "Verdana," sans-serif;
    font-size: 3.5em;
}

body {
    background-color: #FFF083;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

/* Holds both navbar and main content */
.container {
    background-color: #FFF;
    width: 90%;
    position: absolute;
    margin: auto;
    min-height: 100%;
    height: auto;
    left: 0;
    right: 0;
}

/* Main content to the right of navigation bar */
main {
    position: relative;
    float: left;
    background-color: #FFF;
    padding: 50px;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 400px;
    box-sizing: border-box;
}

/* Side navigation menu. Includes links and header */
.navbar {
    font-family: "Arial", sans-serif;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 250px;
    height: 600px;
    background-color: #FFF;
    margin-left: 150px;
    margin-top: 75px;
}

/* Actual part with the links */
.nav {
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    font-style: bold;
}

.navbar ul {
    list-style-type: none;
    width: 250px;
    margin: 0;
    padding: 0;
}

.navbar li a {
    display: block;
    color: #4C4C4C;
    padding: 8px 16px;
    text-decoration: none;
}

.navbar li a:hover {
  background-color: #C2E5FD;
  color: #000;
}

.footer {
    text-align: center;
    clear: both;
}

/* Messing around with some different media styles below */

/* Mobile & tablet */
@media only screen and (max-width: 768px) {

    body {
        background-color: #FFF;
    }

    .container {
        width: 100%;
    }

    main {
        margin: 0 0 0 0;
    }

    .navbar {
        width: 100%;
        height: auto;
        position: relative;
        margin: 0 0 0 0;
        background-color: #FFF083;
    }

    .nav {
        text-align: center;
        margin: 0 auto;
        font-size: 1.25em;
        width: 100%;
        height: auto;
    }

    .navbar ul {
        width: 100%;
    }

    .navbar li {
        list-style: none;
        display: inline-block;
    }
}